<%- model_class = Host -%>
<%= @hora %>
<div class="page-header form-group">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_host_path,
            :class => 'btn btn-primary' %>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pesquisaModal">Pesquisar</button>          
</div>
<div class="modal fade" id="pesquisaModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Buscar MAC</h4>
          </div>
          <div class="modal-body">
            <div class="form-inline">
             <%= form_tag(hosts_path, method: :get) do %>
             <%= text_field_tag "search", nil, placeholder: "Buscar MAC", :class => 'form-control' %>
             <%= submit_tag "Search", :class => 'btn btn-default' %>
             <% end %>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
        
      </div>
    </div>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:mac) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%= model_class.human_attribute_name(:ativo) %></th>
      <th><%= model_class.human_attribute_name(:validade) %></th>
      <th><strong>Validade</strong></th>
    </tr>
  </thead>
  
  
  
  
  <tbody>
    <% @hosts.each do |host| %>

    <% if Time.zone.now - 10800 > host.validade
         flash[:info] = "Você tem hosts expirados !"
         @alerta = "Expirado"
       else
         @alerta = "Válido"
       end %>

    <% if host.ativo?
        @status = "Sim"
       else
        @status = "Não"
       end %>

      <tr>
        <td><%= link_to host.id, host_path(host),class: 'btn btn-default btn-xs'%></td>
        <td><%= host.mac %></td>
        <td><%= host.nome %></td>
        <td><%= host.descricao %></td>
        <td><%= @status %></td>
        <td><%= host.validade.strftime("%d/%m/%Y %H:%M")%></td>
        <td><%= @alerta %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_host_path(host), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      host_path(host),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>