<%- model_class = Host -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Mac: </strong></dt>
  <dd><%= @host.mac %></dd>
  <dt><strong>Nome: </strong></dt>
  <dd><%= @host.nome %></dd>
  <dt><strong>Descrição: </strong></dt>
  <dd><%= @host.descricao %></dd>
  <dt><strong>Ativo: </strong></dt>
  <dd><%= @host.ativo %></dd>
    <dt><strong>Validade: </strong></dt>
  <dd><%= @host.validade.strftime("%d/%m/%Y %H:%M") %></dd>
    <dt><strong>Memorando: </strong></dt>
  <dd><%= @host.memorando %></dd>
    <dt><strong>Rede: </strong></dt>
  <dd><%= @host.rede.nome %></dd>
   <dt><strong>Criado em: </strong></dt>
  <dd><%= @host.created_at.strftime("%d/%m/%Y %H:%M") %></dd>
  <dt><strong>Atualizado em: </strong></dt>
  <dd><%= @host.updated_at.strftime("%d/%m/%Y %H:%M") %></dd>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              hosts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_host_path(@host), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              host_path(@host),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
